<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">welcome to<i class="fa-solid fa-book"></i> Bookers !</h1>
  </div>
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <p>CopyRight Infratop.inc</p>
  </div>  
 </div>  
